<app-navbar></app-navbar>
<!-- jumbotron 1 -->
<div class="jumbotron jumbotron-fluid" id="jumboAbout">
    <div class="container">
        <div class="row">
            <div class="col">
                <div id="titulo">
                    <h2 class="display-4 text-center animated bounce">Bienvenid@, soy Johnny Mauricio Rosero</h2>
                    <h3 class="text-center animated pulse delay-1s">Desarrollador Web y móvil</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- tarjeta 1 -->
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card p-5" id="interesCard">
                <img src="/assets/35665.png" id="imgInteres" class="card-img-top mx-auto animated infinite pulse slower" alt="Para tu interés">
                <div class="card-body">
                    <h5 class="card-title text-center pb-2">Mucho gusto</h5>
                    <p class="card-text text-center">Trabajo en el análisis, diseño y desarrollo de tecnologías entre las que destacan Web, Móvil, y programas para computadoras en el que manipulo tecnologías que están a la vanguardia.</p>
                    <p class="card-text text-center">Apasionado por la programación; te ofrezco mi profesionalismo y experiencia.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- jumbotron 2 -->
<div class="jumbotron jumbotron-fluid" id="jumboLoQueHago">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card mb-3 p-5">
                    <div class="row align-items-center">
                        <div class="col-md-4 loqueHago">
                            <img src="/assets/18907.png" class="card-img animated infinite swing slower" alt="Lo que hago">
                        </div>
                        <div class="col-md-8 align-middle textLoqueHago" id="textLoqueHago">
                            <div class="card-body text-left">
                                <h5 class="card-title pb-2">Hagamos realidad esa idea</h5>
                                <p class="card-text">La idea que tenga en su mente, o la que haya plasmado en papel, o si sencillamente quiere tener presencia en el mercado online; ¡Hagamosla realidad!.</p>
                                <p class="card-text">Contactemonos sin compromiso y estudiemos la forma como haremos crecer sus proyectos.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card mb-3 p-5">
                    <div class="row align-items-center">
                        <div class="col-md-8 align-middle textLoqueHago" id="textLoqueHago2">
                            <div class="card-body text-right">
                                <h5 class="card-title pb-2">No se preocupe por el dinero</h5>
                                <p class="card-text">Lo más importante para mi, es que su idea tome forma y usted pueda ver el fruto de esta al hacerla realidad.</p>
                                <p class="card-text">Desarrollaré su proyecto y en el transcurso del tiempo usted puede ir pagandolo. Somos amigos!</p>
                            </div>
                        </div>
                        <div class="col-md-4 loqueHago">
                            <img src="/assets/loqueHago2.png" class="card-img animated infinite tada slower" alt="Lo que hago">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-whatidoit></app-whatidoit>
<app-footer></app-footer>