<app-navbar></app-navbar>
<!-- jumbotron 1 -->
<div class="jumbotron mb-0" id="jumboAbout">
    <div class="container">
        <div class="row">
            <div class="col">
                <div id="titulo">
                    <h2 class="display-4 text-center animated bounce">Conozca lo que le ofrezco</h2>
                    <h3 class="text-center animated pulse delay-1s">Logremos sus metas</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- tarjeta 1 -->
<div class="jumbotron" id="jumboTarjeta2">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card p-5 interesCard" id="interesCard2">
                    <img src="/assets/spa.png" id="imgInteres2" class="card-img-top mx-auto pb-5 imgInteres" alt="Para tu interés">
                    <div class="card-body">
                        <h5 class="card-title text-center pb-2 textos">Páginas de Aplicación Simple</h5>
                        <p class="card-text text-center textos">Desarrolle su página web sencilla, con hasta máximo 5 items en el menú de navegación (Depende de sus preferencias).</p>
                        <p class="card-text text-center textos">Usada mas que todo para informar acerca de su ámbito profesional, servicios o productos.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- tarjeta 2 -->
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card p-5 interesCard" id="interesCard">
                <img src="/assets/pwa.png" id="imgInteres" class="card-img-top mx-auto pb-5 imgInteres" alt="Para tu interés">
                <div class="card-body">
                    <h5 class="card-title text-center pb-2">Páginas Web Progresivas</h5>
                    <p class="card-text text-center">Para una preferencia más elaborada, si desea tener una aplicación web y que se ajuste a dispositivos móviles.</p>
                    <p class="card-text text-center">Si su proyecto es de cierta complejidad y carácteristcias, entonces esta es su elección.</p>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- tarjeta 3 -->
<div class="jumbotron mb-0" id="jumboTarjeta3">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card p-5 interesCard" id="interesCard3">
                    <img src="/assets/2801276.png" id="imgInteres3" class="card-img-top mx-auto pb-5 imgInteres" alt="Para tu interés">
                    <div class="card-body">
                        <h5 class="card-title text-center pb-2 textos">Aplicaciones móviles</h5>
                        <p class="card-text text-center textos">No se quede en tener una página o aplicación web. Eleve su nivel con lo que está en tendencia hoy día</p>
                        <p class="card-text text-center textos">Utilizando las tecnologías del momento, diseño y desarrollo su apliación móvil</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-whatidoit></app-whatidoit>
<app-footer></app-footer>