<div class="container-fluid bg-dark p-5">
    <div class="row">
        <div class="col">
            <footer class="text-center">
                <ul>
                    <li><i class="fab fa-instagram"></i> Instragram</li>
                    <li><i class="fab fa-facebook"></i> Facebook</li>
                    <li><i class="fab fa-twitter"></i> Twitter</li>
                    <li><i class="fab fa-whatsapp"></i> Whatsapp</li>
                </ul>
                <p class="card-text">@ Johnny Rosero {{anio}} Todos los derechos reservados</p>
            </footer>
        </div>
    </div>
</div>